body, html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input{
    margin-left: 5px;
}
.button{
    background-color: black;
    font-size: 8px;
    color: aliceblue;
}